body {
	margin: 0;
	background: hsl(180, 52%, 96%);
}

.App {
  text-align: center;
}

.container {
	display: flex;
	justify-content: center;
}

.app_header {
	  background: hsl(180, 29%, 50%);
	  background-image: url(/public/assets/images/bg-header-mobile.svg);
	  height: 9rem;
  }

@media only screen and (min-width: 400px) {
  .app_header {
	  background-image: url(/public/assets/images/bg-header-desktop.svg);
  }
}

.card_list {
	width: 400px;
	
}

.card_logo {
	height: 50px;
	width: 50px;
	border: 1px solid magenta;
}




